@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900'); /*títulos*/
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900'; /*cuerpo de texto*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/*bienvenida*/

#first {
  width: 100%;
  height: 100%;
  /*position: absolute;
  display: block;*/
  text-align: left;   
  border-radius: 5px;
  padding-top:110px;
  padding-bottom: 140px;
  padding-left:70px;
  padding-right: 70px;
  background-image: url(images/fondo-web.png);
  background-repeat: no-repeat;
  background-position: right;
  }

.title {
   font-family: 'Montserrat', sans-serif, extra-bold;
   padding-top: 40px;
   padding-left:10px;
   color: #524C9F;
   font-size:80px;
  } 

.subtitle {
   font-family: 'Montserrat', sans-serif, semi-bold;
   padding-top:10px;
   padding-left:10px; 
   font-size:30px;
   color: #EDC31B;
  }  

.intro {
   font-family: 'Roboto', sans-serif, medium;
   padding-top:20px;
   color: #666666;
   padding-left: 10px;
   font-size:15px;
   line-height: 19px;   /*esta es la propiedad para el interlineado*/
  }

/*botones primer div*/
#optionCipher {
   border-radius: 6px;
   margin: 30px;
   margin-left: 7px;
   font-family: 'Montserrat',sans-serif, semi-bold;
   font-size: 17px;
   background-color: #524C9F;
   color:white;
   padding: 8px;
   width: 150px;
   height: 40px;
   border: none;
   cursor: pointer;
  }

  #optionDecipher {
    border-radius: 6px;
    margin: 30px;
    margin-left: 7px;
    font-family: 'Montserrat',sans-serif, semi-bold;
    font-size: 17px;
    background-color: #524C9F;
    color:white;
    padding: 8px;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
   }

/*cifrado*/  

#second {
  
  background-image: url(images/fondo-2.png);
  background-repeat: no-repeat;
    
 }

 #pantallaCifrado {
  width: 400px;
  height: 700px;
  float: left;
  
 }

.cipherTitle {
  padding-left: 40px;
  padding-top: 180px;
  font-family: 'Montserrat', sans-serif, extra-bold;
  color: #524C9F;
  font-size:50px;
  text-align: left;
  line-height: 45px;
   
} 

.subCipher {
  padding-left: 40px;
  font-family: 'Montserrat', sans-serif, semi-bold;
  padding-top:20px;
  font-size:20px;
  text-align: left;
  color: #EDC31B;
  
} 

.instrucciones {
  padding-left: 40px;
  font-family: 'Roboto', sans-serif, medium;
  padding-top:20px;
  color: #666666;
  font-size:15px;
  text-align: left;
  line-height: 22px;   /*esta es la propiedad para el interlineado*/
   
}

#cipherForm {
  width: 850px;
  height: 500px;
  margin-left: 460px;
  float: top; 
  /*border: 2px solid #9AD2EA; borrar esto
  border-radius: 5px;*/
     
}

#captureText {
  width: 800px;
  height: 60px;
  font-family: 'Roboto', medium;
  font-size: 25;
  text-align: left;
  border: 2px solid #524C9F;
  border-radius: 5px;
  padding: 8px;
  margin-top: 220px;
    
}

#cipherText {
 width: 800px;
 height: 60px;
 background-color: white;
 border: 2px solid #524C9F;
 border-radius: 5px;
 padding: 8px;
 margin-top: 30px;
 
  
}

#cipherOffset {

  width: 80px;
  height: 40px;
  font-family: 'Roboto', medium;
  font-size: 25;
  background-color: white;
  border: 1.5px solid #524C9F;
  border-radius: 5px;
  margin-left: 100px;
}

#btnCipher {
  border-radius: 6px;
  margin-top: 30px;
  font-family: 'Montserrat', semi-bold;
  font-size: 15px;
  background-color: #524C9F;
  color:white;
  width: 170px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-left: 10px;

}

.btn1 {
 border-radius: 6px;
 font-family: 'Montserrat', semi-bold;
 font-size: 15px;
 background-color: #524C9F;
 color:white;
 padding: 8px;
 width: 170px;
 height: 40px;
 border: none;
 cursor: pointer;
 
}

.btn2 {
 border-radius: 6px;
 margin: 30px;
 margin-left: 7px;
 font-family: 'Montserrat', semi-bold;
 font-size: 15px;
 background-color: #524C9F;
 color:white;
 padding: 8px;
 width: 170px;
 height: 40px;
 border: none;
 cursor: pointer;
}










/*input, text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  }*/